@using Bauer.Developer.Test.RestaurantGuide.Domain
@using Bauer.Developer.Test.RestaurantGuide.Site.Models
@model List<RestaurantModel>
@{
    ViewBag.Title = "Home Page";
}
@if (Model == null || Model.Count == 0)
{
    <span>There are no restaurants here, but you may add one:</span>
    @Html.ActionLink("Add", "Edit", "Restaurant", new { id = 0 }, new { })
}
else
{
    <table>
        <thead>
            <tr>
                <th>Restaurant Name</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model)
            {
                <tr>
                    <td class="name">@restaurant.Name</td>
                    <td class="phone">@restaurant.PhoneNumberFormated</td>
                    <td class="edit">@Html.ActionLink("Edit", "Edit", "Restaurant", new { id = restaurant.Id }, new { })</td>
                </tr>
            }
        </tbody>
    </table>
}
